In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plts

%matplotlib inline

In [20]:
df10_agebs = pd.read_csv('DATA/ENS_AGEBS_10.csv')
df20_agebs = pd.read_csv('DATA/ENS_AGEBS_20.csv')

Create a dictionary with the indicators and their correlation with gentrification:

In [21]:
# Define indicators and their correlation with gentrification
indicators = {
    'P_TOTAL': 1,
    'POB65_MAS': -1,
    'GRAPROES': 1,
    'PROM_HNV': -1,
    'VIVTOT': 1,
    'PRO_OCUP_C': -1,
    'PROM_OCUP': -1,
    'VPH_PC': 1,
    'OTRAENT': 1,
    'P_0A5': -1
}

In [22]:
# Calculate change in each indicator between 2010 and 2020 for each AGEB
for indicator in indicators:
    df10_agebs[indicator + '_CHANGE'] = df20_agebs[indicator] - df10_agebs[indicator]

In [ ]:
# Calculate average change in each indicator between 2010 and 2020 for the entire city
for indicator in indicators:
    indicators[indicator] = df10_agebs[indicator + '_CHANGE'].mean()

Calculate the average value for each indicator for the entire city:

In [7]:
averages = {}
for col in df10_agebs.columns:
    if col in indicators:
        averages[col] = df10_agebs[col].mean()

Define a function to calculate the score for each AGEB:

In [10]:
def calculate_score(row):
    score = 0
    for col in row.index:
        if col in indicators:
            if indicators[col] == 1:
                if row[col] > averages[col]:
                    score += 1
            else:
                if row[col] < averages[col]:
                    score += 1
    return score

Apply the function to each row of the dataframe:

In [11]:
df10_agebs['score'] = df10_agebs.apply(calculate_score, axis=1)

The final score for each AGEB will range between -8 and +8, with negative values indicating a lower likelihood of gentrification and positive values indicating a higher likelihood of gentrification.

In [13]:
df10_agebs

,index,NOM_LOC,AGEB,MZA,P_TOTAL,POB65_MAS,GRAPROES,PROM_HNV,VIVTOT,PRO_OCUP_C,PROM_OCUP,VPH_PC,OTRAENT,P_0A5,score
0,4,Ensenada,435,1,3632.0,325.0,9.617302,2.193333,1321.0,0.853016,3.352540,584.0,1241.0,419.0,6
1,97,Ensenada,454,1,2211.0,188.0,10.994717,1.929057,742.0,0.661887,3.145849,438.0,760.0,118.0,7
2,151,Ensenada,488,1,2045.0,140.0,8.206786,2.405357,635.0,1.056071,3.796071,189.0,743.0,290.0,3
3,180,Ensenada,492,1,557.0,15.0,7.670000,0.912826,281.0,0.372609,1.648261,189.0,271.0,39.0,5
4,227,Ensenada,505,1,730.0,135.0,14.026154,1.999231,300.0,0.506154,2.862308,199.0,282.0,20.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,5376,Ensenada,9867,1,796.0,9.0,10.288824,1.610588,287.0,1.045882,3.331176,116.0,275.0,207.0,3
168,5394,Ensenada,9871,1,2178.0,18.0,8.794054,1.571351,887.0,0.934595,2.871351,271.0,757.0,411.0,8
169,5432,Ensenada,9886,1,174.0,0.0,14.298000,1.420000,90.0,0.626000,3.398000,46.0,71.0,20.0,5
170,5438,Ensenada,9890,1,19.0,0.0,0.250000,0.312500,18.0,0.110000,0.291250,0.0,5.0,0.0,5
171,5447,Ensenada,9903,1,61.0,0.0,13.560000,1.540000,26.0,0.900000,3.590000,10.0,21.0,0.0,4

Empty DataFrame
Columns: [index, NOM_LOC, AGEB, MZA, P_TOTAL, POB65_MAS, GRAPROES, PROM_HNV, VIVTOT, PRO_OCUP_C, PROM_OCUP, VPH_PC, OTRAENT, P_0A5, score]
Index: []