In [105]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

traemos los datos de github

In [106]:
url10 = 'https://raw.githubusercontent.com/MaximilianoVM/DATA-MINIG-2023-1/main/project/DATA/RESAGEB2010%20-%2002%20Baja%20California.txt'
url20 = 'https://raw.githubusercontent.com/MaximilianoVM/DATA-MINIG-2023-1/main/project/DATA/RESAGEBURB2020%20-%2002%20Baja%20California.csv'

data10=pd.read_csv(url10)
data20=pd.read_csv(url20)
# Dataset is now stored in a Pandas Dataframe

#=========2010=========

In [107]:
data10

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,AGEB,MZA,P_TOTAL,P_0A2,P_3A5,POB65_MAS,GRAPROES,PROM_HNV,VIVTOT,PRO_OCUP_C,PROM_OCUP,VPH_PC,PNACOE
0,2,Baja California,0,Total de la entidad Baja California,0,TOTAL DE LA ENTIDAD,0000,0,3155070,170792,182211,140625,9.26,2.12,1143117,0.96,3.60,374234,1299773
1,2,Baja California,1,Ensenada,0,TOTAL DEL MUNICIPIO,0000,0,466814,25379,26774,23692,8.93,2.18,168914,0.98,3.56,50670,184922
2,2,Baja California,1,Ensenada,1,Total de la localidad urbana,0000,0,279765,13335,14134,15686,10.14,2.02,100634,0.85,3.41,40460,102556
3,2,Baja California,1,Ensenada,1,Total AGEB urbana,0435,0,3632,146,134,256,9.72,2.10,1321,0.85,3.33,524,1217
4,2,Baja California,1,Ensenada,1,Ensenada,0435,1,48,*,3,4,8.31,2.50,15,1.02,3.43,7,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,2,Baja California,4,Tijuana,1,Tijuana,2861,42,164,15,11,*,7.67,2.18,63,1.27,3.73,13,82
29996,2,Baja California,4,Tijuana,1,Tijuana,2861,43,184,8,12,10,7.18,2.82,58,1.13,3.76,15,101
29997,2,Baja California,4,Tijuana,1,Tijuana,2861,45,0,0,0,0,0,0,0,0,0,0,0
29998,2,Baja California,4,Tijuana,1,Tijuana,2861,48,31,5,*,3,6.90,2.17,9,0.97,3.88,*,11
29999,2,Baja California,4,Tijuana,1,Tijuana,2861,49,24,4,0,*,8.11,1.78,8,1.09,3,*,12

In [108]:
data10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ENTIDAD     30000 non-null  int64
 1   NOM_ENT     30000 non-null  object
 2   MUN         30000 non-null  int64
 3   NOM_MUN     30000 non-null  object
 4   LOC         30000 non-null  int64
 5   NOM_LOC     30000 non-null  object
 6   AGEB        30000 non-null  object
 7   MZA         30000 non-null  int64
 8   P_TOTAL     30000 non-null  int64
 9   P_0A2       30000 non-null  object
 10  P_3A5       30000 non-null  object
 11  POB65_MAS   30000 non-null  object
 12  GRAPROES    30000 non-null  object
 13  PROM_HNV    30000 non-null  object
 14  VIVTOT      30000 non-null  int64
 15  PRO_OCUP_C  30000 non-null  object
 16  PROM_OCUP   30000 non-null  object
 17  VPH_PC      30000 non-null  object
 18  PNACOE      30000 non-null  object
dtypes: int64(6), object(13)
memory usage: 4.3+ MB

#==== limpiando 2010

In [109]:
#filtramos para solo ensenada
clean10 = data10[ data10['NOM_MUN'] == 'Ensenada' ]
#Baja California es redundante
clean10 = clean10.drop(columns=['ENTIDAD','NOM_ENT','MUN'])

clean10

,NOM_MUN,LOC,NOM_LOC,AGEB,MZA,P_TOTAL,P_0A2,P_3A5,POB65_MAS,GRAPROES,PROM_HNV,VIVTOT,PRO_OCUP_C,PROM_OCUP,VPH_PC,PNACOE
1,Ensenada,0,TOTAL DEL MUNICIPIO,0000,0,466814,25379,26774,23692,8.93,2.18,168914,0.98,3.56,50670,184922
2,Ensenada,1,Total de la localidad urbana,0000,0,279765,13335,14134,15686,10.14,2.02,100634,0.85,3.41,40460,102556
3,Ensenada,1,Total AGEB urbana,0435,0,3632,146,134,256,9.72,2.10,1321,0.85,3.33,524,1217
4,Ensenada,1,Ensenada,0435,1,48,*,3,4,8.31,2.50,15,1.02,3.43,7,16
5,Ensenada,1,Ensenada,0435,3,41,*,0,6,9.48,2.40,16,0.85,3.15,4,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8998,Ensenada,3370,Colonia Lomas de San Ramón (Triquis),8816,28,63,4,*,*,4.77,2.17,13,1.37,4.85,0,33
8999,Ensenada,3370,Colonia Lomas de San Ramón (Triquis),8816,29,0,0,0,0,0,0,0,0,0,0,0
9000,Ensenada,3370,Colonia Lomas de San Ramón (Triquis),8816,30,11,*,*,*,*,*,4,*,*,*,*
9001,Ensenada,3370,Total AGEB urbana,9528,0,60,4,3,0,4.97,2.36,12,2,5,*,29
9002,Ensenada,3370,Colonia Lomas de San Ramón (Triquis),9528,1,60,4,3,0,4.97,2.36,12,2,5,*,29

## ======== Que localidades hay en ensenada? (2010)

In [110]:
print( clean10['NOM_LOC'].unique() )

print( '\n' ,len(clean10['NOM_LOC'].unique()) ) 

localidades10 = [clean10['NOM_LOC'].unique()[i] for i in range(3, len(clean10['NOM_LOC'].unique()))]

print(localidades10)

['TOTAL DEL MUNICIPIO' 'Total de la localidad urbana' 'Total AGEB urbana'
 'Ensenada' 'Camalú' 'Francisco Zarco (Valle de Guadalupe)'
 'Lázaro Cárdenas' 'Rodolfo Sánchez Taboada (Maneadero)'
 'Ejido México (Punta Colonet)' 'Real del Castillo Nuevo (Ojos Negros)'
 'San Vicente' 'El Sauzal de Rodríguez' 'Vicente Guerrero' 'Santa Fe'
 'San Quintín' 'Lázaro Cárdenas (Valle de la Trinidad)' 'Emiliano Zapata'
 'Ejido Papalote' 'Rancho Verde' 'Benito García (El Zorrillo)'
 'Colonia Nueva Era' 'Colonia Lomas de San Ramón (Triquis)']

 22
['Ensenada', 'Camalú', 'Francisco Zarco (Valle de Guadalupe)', 'Lázaro Cárdenas', 'Rodolfo Sánchez Taboada (Maneadero)', 'Ejido México (Punta Colonet)', 'Real del Castillo Nuevo (Ojos Negros)', 'San Vicente', 'El Sauzal de Rodríguez', 'Vicente Guerrero', 'Santa Fe', 'San Quintín', 'Lázaro Cárdenas (Valle de la Trinidad)', 'Emiliano Zapata', 'Ejido Papalote', 'Rancho Verde', 'Benito García (El Zorrillo)', 'Colonia Nueva Era', 'Colonia Lomas de San Ramón (Triquis)']

In [111]:
loc_series10 = pd.Series(localidades10)
loc_series10

0                                   Ensenada
1                                     Camalú
2       Francisco Zarco (Valle de Guadalupe)
3                            Lázaro Cárdenas
4        Rodolfo Sánchez Taboada (Maneadero)
5               Ejido México (Punta Colonet)
6      Real del Castillo Nuevo (Ojos Negros)
7                                San Vicente
8                     El Sauzal de Rodríguez
9                           Vicente Guerrero
10                                  Santa Fe
11                               San Quintín
12    Lázaro Cárdenas (Valle de la Trinidad)
13                           Emiliano Zapata
14                            Ejido Papalote
15                              Rancho Verde
16               Benito García (El Zorrillo)
17                         Colonia Nueva Era
18      Colonia Lomas de San Ramón (Triquis)
dtype: object

#=========2020=========

In [112]:
data20

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,AGEB,MZA,POBTOT,P_0A2,P_3A5,POB65_MAS,GRAPROES,PROM_HNV,PNACOE,VIVTOT,PROM_OCUP,PRO_OCUP_C,VPH_PC
0,2,Baja California,0,Total de la entidad Baja California,0,Total de la entidad,0000,0,3769020,149957,175286,245280,10.20,1.90,1463949,1325949,3.26,0.90,576454
1,2,Baja California,1,Ensenada,0,Total del municipio,0000,0,443807,18918,21114,35220,10.34,1.93,159809,171203,3.15,0.86,68939
2,2,Baja California,1,Ensenada,1,Total de la localidad urbana,0000,0,330652,12783,14578,27095,10.96,1.84,114097,121224,3.11,0.82,58843
3,2,Baja California,1,Ensenada,1,Total AGEB urbana,0026,0,64,0,*,9,8.68,2.37,33,26,2.78,0.88,5
4,2,Baja California,1,Ensenada,1,Ensenada,0026,1,11,0,0,0,9.20,1,*,4,2.75,0.55,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,2,Baja California,4,Tijuana,1,Tijuana,1276,68,140,3,5,*,7.94,1.98,67,36,3.89,1.47,14
29996,2,Baja California,4,Tijuana,1,Tijuana,1276,69,5,*,*,*,*,*,*,2,*,*,*
29997,2,Baja California,4,Tijuana,1,Total AGEB urbana,1295,0,4582,349,341,38,9.54,1.69,3053,1463,3.41,1.14,385
29998,2,Baja California,4,Tijuana,1,Tijuana,1295,1,280,21,32,*,9.15,1.62,187,88,3.46,1.14,12
29999,2,Baja California,4,Tijuana,1,Tijuana,1295,2,157,12,14,*,9.28,1.70,102,50,3.34,1.03,15

In [113]:
data20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ENTIDAD     30000 non-null  int64
 1   NOM_ENT     30000 non-null  object
 2   MUN         30000 non-null  int64
 3   NOM_MUN     30000 non-null  object
 4   LOC         30000 non-null  int64
 5   NOM_LOC     30000 non-null  object
 6   AGEB        30000 non-null  object
 7   MZA         30000 non-null  int64
 8   POBTOT      30000 non-null  int64
 9   P_0A2       30000 non-null  object
 10  P_3A5       30000 non-null  object
 11  POB65_MAS   30000 non-null  object
 12  GRAPROES    30000 non-null  object
 13  PROM_HNV    30000 non-null  object
 14  PNACOE      30000 non-null  object
 15  VIVTOT      30000 non-null  int64
 16  PROM_OCUP   30000 non-null  object
 17  PRO_OCUP_C  30000 non-null  object
 18  VPH_PC      30000 non-null  object
dtypes: int64(6), object(13)
memory usage: 4.3+ MB

#==== limpiando 2020

In [114]:
#filtramos para solo ensenada
clean20 = data20[ data20['NOM_MUN'] == 'Ensenada' ]
#Baja California es redundante
clean20 = clean20.drop(columns=['ENTIDAD','NOM_ENT','MUN'])

clean20

,NOM_MUN,LOC,NOM_LOC,AGEB,MZA,POBTOT,P_0A2,P_3A5,POB65_MAS,GRAPROES,PROM_HNV,PNACOE,VIVTOT,PROM_OCUP,PRO_OCUP_C,VPH_PC
1,Ensenada,0,Total del municipio,0000,0,443807,18918,21114,35220,10.34,1.93,159809,171203,3.15,0.86,68939
2,Ensenada,1,Total de la localidad urbana,0000,0,330652,12783,14578,27095,10.96,1.84,114097,121224,3.11,0.82,58843
3,Ensenada,1,Total AGEB urbana,0026,0,64,0,*,9,8.68,2.37,33,26,2.78,0.88,5
4,Ensenada,1,Ensenada,0026,1,11,0,0,0,9.20,1,*,4,2.75,0.55,*
5,Ensenada,1,Ensenada,0026,2,42,0,*,8,8.43,2.50,26,19,2.63,0.91,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8323,Ensenada,2183,Rancho Cañón Buena Vista (El Zorrillo),9782,32,40,*,3,0,7.45,1.73,16,14,3.33,1.21,0
8324,Ensenada,2183,Rancho Cañón Buena Vista (El Zorrillo),9782,33,39,3,4,*,5.48,3.50,17,10,4.88,1.44,0
8325,Ensenada,2183,Rancho Cañón Buena Vista (El Zorrillo),9782,34,34,*,*,0,5.61,2.15,19,16,3.78,1.70,0
8326,Ensenada,2183,Rancho Cañón Buena Vista (El Zorrillo),9782,35,8,*,*,*,*,*,*,2,*,*,*
8327,Ensenada,2183,Rancho Cañón Buena Vista (El Zorrillo),9782,36,32,*,4,0,6.07,2.10,13,10,3.56,1.78,0

## ======== Que localidades hay en ensenada? (2020)

In [115]:
print( clean20['NOM_LOC'].unique() )

print( '\n' ,len(clean20['NOM_LOC'].unique()) ) 

localidades20 = [clean20['NOM_LOC'].unique()[i] for i in range(3, len(clean20['NOM_LOC'].unique()))]

print(localidades20)

['Total del municipio' 'Total de la localidad urbana' 'Total AGEB urbana'
 'Ensenada' 'Francisco Zarco (Valle de Guadalupe)'
 'Rodolfo Sánchez Taboada (Maneadero)'
 'Ejido Punta Colnett (Punta Colonet)'
 'Real del Castillo Nuevo (Ojos Negros)' 'San Vicente'
 'El Sauzal de Rodríguez' 'Lázaro Cárdenas (Valle de la Trinidad)'
 'Rancho Cañón Buena Vista (El Zorrillo)']

 12
['Ensenada', 'Francisco Zarco (Valle de Guadalupe)', 'Rodolfo Sánchez Taboada (Maneadero)', 'Ejido Punta Colnett (Punta Colonet)', 'Real del Castillo Nuevo (Ojos Negros)', 'San Vicente', 'El Sauzal de Rodríguez', 'Lázaro Cárdenas (Valle de la Trinidad)', 'Rancho Cañón Buena Vista (El Zorrillo)']

In [116]:
loc_series20 = pd.Series(localidades20)
loc_series20

0                                  Ensenada
1      Francisco Zarco (Valle de Guadalupe)
2       Rodolfo Sánchez Taboada (Maneadero)
3       Ejido Punta Colnett (Punta Colonet)
4     Real del Castillo Nuevo (Ojos Negros)
5                               San Vicente
6                    El Sauzal de Rodríguez
7    Lázaro Cárdenas (Valle de la Trinidad)
8    Rancho Cañón Buena Vista (El Zorrillo)
dtype: object

In [117]:
print( clean20['LOC'].unique() )

print( '\n' ,len( clean20['LOC'].unique() ) )

[   0    1  114  139  186  190  243  247  935 2183]

 10

#========== comparando 2010 con 2020 ================#

In [118]:
loc_series10

0                                   Ensenada
1                                     Camalú
2       Francisco Zarco (Valle de Guadalupe)
3                            Lázaro Cárdenas
4        Rodolfo Sánchez Taboada (Maneadero)
5               Ejido México (Punta Colonet)
6      Real del Castillo Nuevo (Ojos Negros)
7                                San Vicente
8                     El Sauzal de Rodríguez
9                           Vicente Guerrero
10                                  Santa Fe
11                               San Quintín
12    Lázaro Cárdenas (Valle de la Trinidad)
13                           Emiliano Zapata
14                            Ejido Papalote
15                              Rancho Verde
16               Benito García (El Zorrillo)
17                         Colonia Nueva Era
18      Colonia Lomas de San Ramón (Triquis)
dtype: object

In [119]:
loc_series20

0                                  Ensenada
1      Francisco Zarco (Valle de Guadalupe)
2       Rodolfo Sánchez Taboada (Maneadero)
3       Ejido Punta Colnett (Punta Colonet)
4     Real del Castillo Nuevo (Ojos Negros)
5                               San Vicente
6                    El Sauzal de Rodríguez
7    Lázaro Cárdenas (Valle de la Trinidad)
8    Rancho Cañón Buena Vista (El Zorrillo)
dtype: object

hacemos una lista a partir de los elementos que comparten

In [120]:
localidades = [x for x in localidades10 if x in localidades20]

In [121]:
localidades

['Ensenada',
 'Francisco Zarco (Valle de Guadalupe)',
 'Rodolfo Sánchez Taboada (Maneadero)',
 'Real del Castillo Nuevo (Ojos Negros)',
 'San Vicente',
 'El Sauzal de Rodríguez',
 'Lázaro Cárdenas (Valle de la Trinidad)']

[ ! ] [ ! ][ ! ]  punta colonet y el zorrillo cambiaron de nombre entre 2010 y 2020

vamos a hacer coincidir los nombres

In [122]:
# Replace values in the 'NOM_LOC' column based on conditions
clean10.loc[clean10['NOM_LOC'] == 'Ejido México (Punta Colonet)', 'NOM_LOC'] = 'Ejido Punta Colnett (Punta Colonet)'
clean10.loc[clean10['NOM_LOC'] == 'Benito García (El Zorrillo)', 'NOM_LOC'] = 'Rancho Cañón Buena Vista (El Zorrillo)'

ahora volvemos a sacar las localidades 2010

In [123]:
#print( clean10['NOM_LOC'].unique() )

#print( '\n' ,len(clean10['NOM_LOC'].unique()) ) 

localidades10 = [clean10['NOM_LOC'].unique()[i] for i in range(3, len(clean10['NOM_LOC'].unique()))]

#print(localidades10)

loc_series10 = pd.Series(localidades10)
loc_series10

0                                   Ensenada
1                                     Camalú
2       Francisco Zarco (Valle de Guadalupe)
3                            Lázaro Cárdenas
4        Rodolfo Sánchez Taboada (Maneadero)
5        Ejido Punta Colnett (Punta Colonet)
6      Real del Castillo Nuevo (Ojos Negros)
7                                San Vicente
8                     El Sauzal de Rodríguez
9                           Vicente Guerrero
10                                  Santa Fe
11                               San Quintín
12    Lázaro Cárdenas (Valle de la Trinidad)
13                           Emiliano Zapata
14                            Ejido Papalote
15                              Rancho Verde
16    Rancho Cañón Buena Vista (El Zorrillo)
17                         Colonia Nueva Era
18      Colonia Lomas de San Ramón (Triquis)
dtype: object

de nuevo hacemos la lista con los elementos que comparten

In [124]:
localidades = [x for x in localidades10 if x in localidades20]

localidades

['Ensenada',
 'Francisco Zarco (Valle de Guadalupe)',
 'Rodolfo Sánchez Taboada (Maneadero)',
 'Ejido Punta Colnett (Punta Colonet)',
 'Real del Castillo Nuevo (Ojos Negros)',
 'San Vicente',
 'El Sauzal de Rodríguez',
 'Lázaro Cárdenas (Valle de la Trinidad)',
 'Rancho Cañón Buena Vista (El Zorrillo)']

ahora si, con estas localidades vamos a trabajar

ahora vamos a eliminar todas las localidades que no sean estas de ambos dataframes (2010 y 2020)

# LIMPIANDO LOCALIDADES

In [125]:
localidades

['Ensenada',
 'Francisco Zarco (Valle de Guadalupe)',
 'Rodolfo Sánchez Taboada (Maneadero)',
 'Ejido Punta Colnett (Punta Colonet)',
 'Real del Castillo Nuevo (Ojos Negros)',
 'San Vicente',
 'El Sauzal de Rodríguez',
 'Lázaro Cárdenas (Valle de la Trinidad)',
 'Rancho Cañón Buena Vista (El Zorrillo)']

nos quedamos solo con esas localidades

In [147]:
# create a boolean mask to filter rows
mask10 = clean10['NOM_LOC'].isin(localidades)

# apply the mask to select only the rows with allowed values
clean10 = clean10[mask10]

clean10 = clean10.reset_index()

#========================

# create a boolean mask to filter rows
mask20 = clean20['NOM_LOC'].isin(localidades)

# apply the mask to select only the rows with allowed values
clean20 = clean20[mask20]

clean20 = clean20.reset_index()

In [148]:
clean10['NOM_LOC'].unique()

array(['Ensenada', 'Francisco Zarco (Valle de Guadalupe)',
       'Rodolfo Sánchez Taboada (Maneadero)',
       'Ejido Punta Colnett (Punta Colonet)',
       'Real del Castillo Nuevo (Ojos Negros)', 'San Vicente',
       'El Sauzal de Rodríguez', 'Lázaro Cárdenas (Valle de la Trinidad)',
       'Rancho Cañón Buena Vista (El Zorrillo)'], dtype=object)

In [155]:
clean20['NOM_LOC'].unique()

array(['Ensenada', 'Francisco Zarco (Valle de Guadalupe)',
       'Rodolfo Sánchez Taboada (Maneadero)',
       'Ejido Punta Colnett (Punta Colonet)',
       'Real del Castillo Nuevo (Ojos Negros)', 'San Vicente',
       'El Sauzal de Rodríguez', 'Lázaro Cárdenas (Valle de la Trinidad)',
       'Rancho Cañón Buena Vista (El Zorrillo)'], dtype=object)

In [156]:
clean10

,index,NOM_MUN,LOC,NOM_LOC,AGEB,MZA,P_TOTAL,P_0A2,P_3A5,POB65_MAS,GRAPROES,PROM_HNV,VIVTOT,PRO_OCUP_C,PROM_OCUP,VPH_PC,PNACOE
0,4,Ensenada,1,Ensenada,0435,1,48,*,3,4,8.31,2.50,15,1.02,3.43,7,16
1,5,Ensenada,1,Ensenada,0435,3,41,*,0,6,9.48,2.40,16,0.85,3.15,4,16
2,6,Ensenada,1,Ensenada,0435,4,41,3,*,4,10.29,1.88,11,0.87,4.10,7,16
3,7,Ensenada,1,Ensenada,0435,6,54,*,*,*,10.24,1.82,23,0.72,3.18,10,17
4,8,Ensenada,1,Ensenada,0435,7,54,3,3,7,9.85,2.33,17,0.78,3.38,7,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7026,8846,Ensenada,2183,Rancho Cañón Buena Vista (El Zorrillo),9782,32,32,*,4,0,5.96,2.55,19,1.52,2.67,0,21
7027,8847,Ensenada,2183,Rancho Cañón Buena Vista (El Zorrillo),9782,33,18,*,3,0,7.15,1.86,9,1.50,2.57,0,10
7028,8848,Ensenada,2183,Rancho Cañón Buena Vista (El Zorrillo),9782,34,21,0,*,*,3.83,1.75,15,3,4.20,0,16
7029,8849,Ensenada,2183,Rancho Cañón Buena Vista (El Zorrillo),9782,35,0,0,0,0,0,0,0,0,0,0,0
7030,8850,Ensenada,2183,Rancho Cañón Buena Vista (El Zorrillo),9782,36,38,4,6,0,5.43,2.08,15,2.11,3.80,0,21

In [157]:
clean20

,index,NOM_MUN,LOC,NOM_LOC,AGEB,MZA,POBTOT,P_0A2,P_3A5,POB65_MAS,GRAPROES,PROM_HNV,PNACOE,VIVTOT,PROM_OCUP,PRO_OCUP_C,VPH_PC
0,4,Ensenada,1,Ensenada,0026,1,11,0,0,0,9.20,1,*,4,2.75,0.55,*
1,5,Ensenada,1,Ensenada,0026,2,42,0,*,8,8.43,2.50,26,19,2.63,0.91,*
2,6,Ensenada,1,Ensenada,0026,3,11,0,*,*,9.13,4.33,5,3,3.67,1.57,*
3,8,Ensenada,1,Ensenada,0030,1,21,*,*,*,15.89,0.80,7,17,2.10,0.54,9
4,9,Ensenada,1,Ensenada,0030,2,11,0,0,0,16.75,1.50,8,8,2.20,0.48,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8005,8323,Ensenada,2183,Rancho Cañón Buena Vista (El Zorrillo),9782,32,40,*,3,0,7.45,1.73,16,14,3.33,1.21,0
8006,8324,Ensenada,2183,Rancho Cañón Buena Vista (El Zorrillo),9782,33,39,3,4,*,5.48,3.50,17,10,4.88,1.44,0
8007,8325,Ensenada,2183,Rancho Cañón Buena Vista (El Zorrillo),9782,34,34,*,*,0,5.61,2.15,19,16,3.78,1.70,0
8008,8326,Ensenada,2183,Rancho Cañón Buena Vista (El Zorrillo),9782,35,8,*,*,*,*,*,*,2,*,*,*
8009,8327,Ensenada,2183,Rancho Cañón Buena Vista (El Zorrillo),9782,36,32,*,4,0,6.07,2.10,13,10,3.56,1.78,0

In [160]:
clean10 [ clean10['NOM_LOC'] == 'San Vicente' ]

,index,NOM_MUN,LOC,NOM_LOC,AGEB,MZA,P_TOTAL,P_0A2,P_3A5,POB65_MAS,GRAPROES,PROM_HNV,VIVTOT,PRO_OCUP_C,PROM_OCUP,VPH_PC,PNACOE
6374,7236,Ensenada,243,San Vicente,1819,1,9,*,*,*,*,*,2,*,*,*,*
6375,7238,Ensenada,243,San Vicente,8178,1,25,*,*,*,6.88,1.83,17,1,2.78,*,18
6376,7239,Ensenada,243,San Vicente,8178,2,47,5,3,4,7.09,2.33,11,1.12,4.70,3,18
6377,7240,Ensenada,243,San Vicente,8178,3,16,*,0,4,6.67,3.80,12,0.53,2,*,3
6378,7241,Ensenada,243,San Vicente,8178,4,12,0,*,*,5.75,3.14,5,0.60,3,*,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6525,7391,Ensenada,243,San Vicente,820A,38,44,*,5,3,5.85,2.38,13,0.94,3.75,*,17
6526,7392,Ensenada,243,San Vicente,820A,39,43,*,3,3,7.90,3.33,14,0.83,3.31,5,13
6527,7393,Ensenada,243,San Vicente,820A,41,4,*,*,*,*,*,1,*,*,*,*
6528,7394,Ensenada,243,San Vicente,820A,44,0,0,0,0,0,0,0,0,0,0,0
6529,7395,Ensenada,243,San Vicente,820A,45,9,*,*,*,*,*,3,*,*,*,*