<a href="https://colab.research.google.com/github/MaximilianoVM/DATA-MINIG-2023-1/blob/main/INEGI_AUXILIO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [61]:
url = 'https://raw.githubusercontent.com/MaximilianoVM/DATA-MINIG-2023-1/main/project/2020/diccionario_datos_ageb_urbana_02_cpv2020.csv'
dict_2020 = pd.read_csv(url)
# Dataset is now stored in a Pandas Dataframe

In [62]:
url = 'https://raw.githubusercontent.com/MaximilianoVM/DATA-MINIG-2023-1/main/project/2020/conjunto_de_datos_ageb_urbana_02_cpv2020.csv'
data_2020 = pd.read_csv(url)
# Dataset is now stored in a Pandas Dataframe

### ACOMODAR DICCIONARIOOOOOOOOOOOOOOO

In [63]:
dict_2020.head()

,CENSO DE POBLACIÓN Y VIVIENDA 2020,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Relación de indicadores,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Tercera edición.,NaN,NaN,NaN
2,Núm.,Indicador,Descripción,Mnemónico,Rangos,Longitud
3,1,Clave de entidad federativa,Código que identifica a la entidad federativa....,ENTIDAD,00…32,2
4,2,Entidad federativa,Nombre oficial de la entidad federativa.,NOM_ENT,Alfanumérico,50

In [64]:
dict_2020.drop([0,1], axis=0, inplace = True)

dict_2020 = dict_2020.reset_index(drop=True)

dict_2020.columns = dict_2020.iloc[0]

dict_2020 = dict_2020.rename(columns={'Núm.': 'Num'})
dict_2020 = dict_2020.rename(columns={'Descripción': 'Descripcion'})
dict_2020 = dict_2020.rename(columns={'Mnemónico': 'Mnemonico'})

In [65]:
dict_2020 = dict_2020.drop('Num', axis=1)

In [66]:
dict_2020.head()

,Indicador,Descripcion,Mnemonico,Rangos,Longitud
0,Indicador,Descripción,Mnemónico,Rangos,Longitud
1,Clave de entidad federativa,Código que identifica a la entidad federativa....,ENTIDAD,00…32,2
2,Entidad federativa,Nombre oficial de la entidad federativa.,NOM_ENT,Alfanumérico,50
3,Clave de municipio o demarcación territorial,Código que identifica al municipio o demarcaci...,MUN,000…570,3
4,Municipio o demarcación territorial,Nombre oficial del municipio o demarcación ter...,NOM_MUN,Alfanumérico,50

In [67]:
get_mne = dict(zip(dict_2020['Indicador'], dict_2020['Mnemonico']))

get_Ind = dict(zip(dict_2020['Mnemonico'], dict_2020['Indicador'] ))

###ACOMODAR DATOS AHORAAAAAAAAA

In [68]:
data_2020.head()

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,AGEB,MZA,POBTOT,POBFEM,...,VPH_TELEF,VPH_CEL,VPH_INTER,VPH_STVP,VPH_SPMVPI,VPH_CVJ,VPH_SINRTV,VPH_SINLTC,VPH_SINCINT,VPH_SINTIC
0,2,Baja California,0,Total de la entidad Baja California,0,Total de la entidad,0000,0,3769020,1868431,...,576806,1080169,800189,618175,384011,216865,41223,38772,293529,9582
1,2,Baja California,1,Ensenada,0,Total del municipio,0000,0,443807,222500,...,65936,131092,92742,80874,45288,24380,6765,4763,39719,1509
2,2,Baja California,1,Ensenada,1,Total de la localidad urbana,0000,0,330652,167339,...,57624,99966,78368,61476,40227,21422,3136,2725,22418,623
3,2,Baja California,1,Ensenada,1,Total AGEB urbana,0026,0,64,30,...,*,20,10,6,3,3,*,3,12,*
4,2,Baja California,1,Ensenada,1,Ensenada,0026,1,11,7,...,0,4,3,*,*,0,*,0,*,0

In [69]:
keep_cols = [

get_mne['Municipio o demarcación territorial'],
get_mne['Población total'],
get_mne['Población de 0 a 2 años'],
get_mne['Población de 3 a 5 años'],
get_mne['Población de 65 años y más'],
get_mne['Población de 15 años y más analfabeta'],
get_mne['Grado promedio de escolaridad'],
get_mne['Total de viviendas'],
get_mne['Promedio de ocupantes por cuarto en viviendas particulares habitadas'],
get_mne['Viviendas particulares habitadas que disponen de computadora, laptop o tablet']

    ]

In [70]:
clean_2020 = data_2020.drop(columns=[col for col in data_2020.columns if col not in keep_cols])

In [97]:
clean_2020.replace('*', 0, inplace=True)
clean_2020.replace('N/D', np.nan, inplace=True)
clean_2020.replace('0*', 0, inplace=True)
clean_2020.replace('**', 0, inplace=True)
clean_2020.replace('*0', 0, inplace=True)
clean_2020.replace('*', 0, inplace=True)
clean_2020.replace('*5', 0, inplace=True)

import re
clean_2020 = clean_2020.replace(to_replace=r'\*(\d+)', value=r'\1', regex=True)

In [71]:
clean_2020

,POBTOT,P_0A2,P_3A5,POB65_MAS,P15YM_AN,GRAPROES,VIVTOT,PRO_OCUP_C,VPH_PC
0,3769020,149957,175286,245280,52496,10.2,1325949,0.9,576454
1,443807,18918,21114,35220,7752,10.34,171203,0.86,68939
2,330652,12783,14578,27095,2964,10.96,121224,0.82,58843
3,64,0,*,9,*,8.68,26,0.88,5
4,11,0,0,0,0,9.2,4,0.55,*
...,...,...,...,...,...,...,...,...,...
57147,8,*,*,*,*,*,2,*,*
57148,12,*,0,0,0,7.64,4,1.2,*
57149,22,0,*,0,0,11.47,6,1.1,3
57150,14,0,*,*,0,6.75,4,0.78,*
57151,10,*,*,*,*,*,1,*,*

In [72]:
newcol=[]
for mne in clean_2020.columns: newcol.append(get_Ind[mne])
clean_2020.columns = newcol

In [73]:
clean_2020

,Población total,Población de 0 a 2 años,Población de 3 a 5 años,Población de 65 años y más,Población de 15 años y más analfabeta,Grado promedio de escolaridad,Total de viviendas,Promedio de ocupantes por cuarto en viviendas particulares habitadas,"Viviendas particulares habitadas que disponen de computadora, laptop o tablet"
0,3769020,149957,175286,245280,52496,10.2,1325949,0.9,576454
1,443807,18918,21114,35220,7752,10.34,171203,0.86,68939
2,330652,12783,14578,27095,2964,10.96,121224,0.82,58843
3,64,0,*,9,*,8.68,26,0.88,5
4,11,0,0,0,0,9.2,4,0.55,*
...,...,...,...,...,...,...,...,...,...
57147,8,*,*,*,*,*,2,*,*
57148,12,*,0,0,0,7.64,4,1.2,*
57149,22,0,*,0,0,11.47,6,1.1,3
57150,14,0,*,*,0,6.75,4,0.78,*
57151,10,*,*,*,*,*,1,*,*

In [74]:
clean_2020['Población de 0 a 5 años'] = clean_2020['Población de 0 a 2 años'] + clean_2020['Población de 3 a 5 años']

In [75]:
clean_2020

,Población total,Población de 0 a 2 años,Población de 3 a 5 años,Población de 65 años y más,Población de 15 años y más analfabeta,Grado promedio de escolaridad,Total de viviendas,Promedio de ocupantes por cuarto en viviendas particulares habitadas,"Viviendas particulares habitadas que disponen de computadora, laptop o tablet",Población de 0 a 5 años
0,3769020,149957,175286,245280,52496,10.2,1325949,0.9,576454,149957175286
1,443807,18918,21114,35220,7752,10.34,171203,0.86,68939,1891821114
2,330652,12783,14578,27095,2964,10.96,121224,0.82,58843,1278314578
3,64,0,*,9,*,8.68,26,0.88,5,0*
4,11,0,0,0,0,9.2,4,0.55,*,00
...,...,...,...,...,...,...,...,...,...,...
57147,8,*,*,*,*,*,2,*,*,**
57148,12,*,0,0,0,7.64,4,1.2,*,*0
57149,22,0,*,0,0,11.47,6,1.1,3,0*
57150,14,0,*,*,0,6.75,4,0.78,*,0*
57151,10,*,*,*,*,*,1,*,*,**

In [86]:
clean_2020.iloc[34]

Población total                                                                    100
Población de 0 a 2 años                                                              4
Población de 3 a 5 años                                                              5
Población de 65 años y más                                                           5
Población de 15 años y más analfabeta                                                0
Grado promedio de escolaridad                                                    10.22
Total de viviendas                                                                  32
Promedio de ocupantes por cuarto en viviendas particulares habitadas              1.02
Viviendas particulares habitadas que disponen de computadora, laptop o tablet       10
Población de 0 a 5 años                                                             45
Name: 34, dtype: object

In [100]:
clean_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57152 entries, 0 to 57151
Data columns (total 10 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   Población total                                                                57152 non-null  int64
 1   Población de 0 a 2 años                                                        57151 non-null  object
 2   Población de 3 a 5 años                                                        57151 non-null  object
 3   Población de 65 años y más                                                     57151 non-null  object
 4   Población de 15 años y más analfabeta                                          57151 non-null  object
 5   Grado promedio de escolaridad                                                  57151 non-null  object
 6   Total de viviendas                                                             57152 non-null  int64
 7   Promedio de ocupantes por cuarto en viviendas particulares habitadas           57151 non-null  object
 8   Viviendas particulares habitadas que disponen de computadora, laptop o tablet  57151 non-null  object
 9   Población de 0 a 5 años                                                        57152 non-null  object
dtypes: int64(2), object(8)
memory usage: 4.4+ MB

In [103]:
clean_2020.tail()

,Población total,Población de 0 a 2 años,Población de 3 a 5 años,Población de 65 años y más,Población de 15 años y más analfabeta,Grado promedio de escolaridad,Total de viviendas,Promedio de ocupantes por cuarto en viviendas particulares habitadas,"Viviendas particulares habitadas que disponen de computadora, laptop o tablet",Población de 0 a 5 años
57147,8,0,0,0,0,0,2,0,0,0
57148,12,0,0,0,0,7.64,4,1.2,0,0
57149,22,0,0,0,0,11.47,6,1.1,3,0
57150,14,0,0,0,0,6.75,4,0.78,0,0
57151,10,0,0,0,0,0,1,0,0,0